body,
html,
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header {
  font-size: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

#button {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 125%);
  color: rgb(136, 69, 69);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  background-color: transparent;
  border-color: transparent;
}

#button:hover {
  text-decoration: underline;
  font-weight: 590;
}

#homeImg {
  display: block;
  border-radius: 1000px;
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 25%;
}