body,
html,
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #7e4a4a;
  --second-color: #f8f2f2;
  --third-color: #ddcccc;
}

.dark {
  --primary-color: #f8f2f2;
  --second-color: #ddcccc;
  --third-color: #7e4a4a;
}

/* Media Section */
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

/* Light Buttons */
#viewBtn,
#createPlaylist,
#addSong {
  font-size: 20px;
  color: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: var(--second-color);
  border-color: transparent;
  margin: 20px;
  padding: 10px;
}

/* Dark Buttons */
.playlist,
.submitBtn,
.songSubmit {
  font-size: 20px;
  color: var(--second-color);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: var(--primary-color);
  border-color: transparent;
  margin: 20px;
  padding: 10px;
}

/* Playlist Header */
.playlistHeader h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.playlistHeader p {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: var(--primary-color);
}

/* Empty Message */
.emptyMsg * {
  font-size: 20px;
  margin: 40px;
  display: inline-block;
  color: var(--primary-color);
}

/* Playlist Dropdown */
.playlistSelect {
  font-size: 20px;
  color: var(--second-color);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: var(--primary-color);
  border-color: transparent;
  margin: 20px;
  padding: 10px;
}

/* Hover Styles */
.playlist:hover,
.submitBtn:hover,
.songSubmit:hover,
#viewBtn:hover,
#createPlaylist:hover,
#addSong:hover {
  text-decoration: underline;
  font-weight: 590;
}

/* Hidden */
.hidden {
  display: none;
}

/* Forms */
.form *,
.addSong * {
  font-size: 20px;
  margin: 10px;
  color: var(--primary-color);
}

.form input,
.addSong input {
  padding: 10px 15px;
}

/* Cards */
.card {
  background-color: var(--third-color);
  margin: 20px;
  padding: 10px;
  margin-right: 800px;
}

.cardHeader {
  font-size: 30px;
  margin: 10px;
  display: inline-block;
  color: var(--primary-color);
}

.cardHeader:hover {
  text-decoration: underline;
  font-weight: 100000;
}

/* Album Title */
.album {
  font-size: 20px;
  font-style: italic;
  margin: 10px;
  margin-left: 30px;
  color: var(--primary-color);
}

/* Image */
.img {
  height: 200px;
  margin: 10px;
}

/* Artist & Length */
.artist,
.length {
  color: var(--primary-color);
  font-size: 18px;
  margin-left: 10px;
}
