body,
html,
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
} 

#viewBtn,
#addPlaylist,
#addSong {
  font-size: 20px;
  color: rgb(136, 69, 69);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  background-color:rgb(235, 235, 235);
  border-color: transparent;
}

#viewBtn:hover,
#addPlaylist:hover,
#addSong:hover {
  text-decoration: underline;
  font-weight: 590;
}