body,
html,
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#header {
  font-size: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#button {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  color: rgb(136, 69, 69);
}

#homeImg {
  display: block;
  border-radius: 1000px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}