body,
html,
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
} 

#viewBtn,
#addPlaylist,
#addSong {
  font-size: 20px;
  color: rgb(136, 69, 69);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  background-color:rgb(235, 235, 235);
  border-color: transparent;
  margin: 20px;
  padding: 10px;
}

#viewBtn:hover,
#addPlaylist:hover,
#addSong:hover {
  text-decoration: underline;
  font-weight: 590;
}

.card {
  background-color: rgb(223, 206, 206);
  margin: 20px;
  padding: 10px;
}

.cardHeader {
  font-size: 30px;
  margin: 10px;
  color: rgb(124, 90, 90);
}

.album {
  font-size: 20px;
  font-style: italic;
  margin: 10px;
  margin-left: 30px;
  color: rgb(90, 69, 69);
}

.img {
  height: 200px;
  margin: 10px;
}

.artist,
.length {
  color: rgb(146, 69, 69);
  font-size: 18px;
  margin-left: 10px;
}


