body,
html,
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

#viewBtn,
#createPlaylist,
#addSong {
  font-size: 20px;
  color: rgb(136, 69, 69);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: rgb(235, 235, 235);
  border-color: transparent;
  margin: 20px;
  padding: 10px;
}

.playlist,
.submitBtn {
  font-size: 20px;
  color: rgb(235, 235, 235);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  background-color: rgb(136, 69, 69);
  border-color: transparent;
  margin: 20px;
  padding: 10px;
}

.playlist:hover,
.submitBtn:hover {
  text-decoration: underline;
  font-weight: 590;
}

#viewBtn:hover,
#createPlaylist:hover,
#addSong:hover {
  text-decoration: underline;
  font-weight: 590;
}

.hidden {
  display: none;
}

.form * {
  font-size: 20px;
  margin: 10px;
  color: rgb(124, 90, 90);
}

.form input {
  padding: 10px 15px;
}

.card {
  background-color: rgb(223, 206, 206);
  margin: 20px;
  padding: 10px;
  margin-right: 800px;
}

.cardHeader {
  font-size: 30px;
  margin: 10px;
  display: inline-block;
  color: rgb(124, 90, 90);
}

.cardHeader:hover {
  text-decoration: underline;
  font-weight: 100000;
}

.album {
  font-size: 20px;
  font-style: italic;
  margin: 10px;
  margin-left: 30px;
  color: rgb(90, 69, 69);
}

.img {
  height: 200px;
  margin: 10px;
}

.artist,
.length {
  color: rgb(146, 69, 69);
  font-size: 18px;
  margin-left: 10px;
}
